<%- include('../partials/header') %>

<section id="discCards">
    <% discs.forEach(function(disc) { %>
    <a href="/discs/<%= disc._id %>">
        <article>
            <h2><%= disc.title %></h2>
            <h3><%= disc.brand %></h3>
            <h3><%= disc.discType %></h3>
        </article>
    </a>
    <% }); %>
</section>

<%- include('../partials/footer') %>