<%- include('../partials/header') %>

    <article>
        <% discs.forEach(function(disc) { %>
            <h2><%= disc.title %></h2>
            <h3><%= disc.brand %></h3>
            <h3><%= disc.discType %></h3>
        <% }); %>
    </article>

<%- include('../partials/footer') %>