<%- include('../partials/header') %>

<section>
    <h2>Additional Information</h2>
    <p>Brand: <%= disc.brand %></p>
    <p>Primary Use: <%= disc.discType %></p>
    <p>Speed: <%= disc.speed %></p>
    <p>Glide: <%= disc.glide %></p>
    <p>Turn: <%= disc.turn %></p>
    <p>Fade: <%= disc.fade %></p>
    <button><a href="/discs/<%= disc._id %>/edit">Edit Disc Details</a></button>
    <form action="/discs/<%= disc._id %>?_method=DELETE" method="POST"">
        <input type="submit" value="Delete Disc">
    </form>
</section>

<%- include('../partials/footer') %>